.container {
  height: 60px;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.container > div {
  flex: 1;
}

.container > :nth-child(1) {
  display: flex;
  justify-content: start;
}
.container > :nth-child(2) {
  display: flex;
  justify-content: center;
}
.container > :nth-child(3) {
  display: flex;
  justify-content: end;
}
