.container {
  width: 100%;
  height: 100%;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.headerWrapper h2 {
  width: 100%;
  margin: 20px 0;
  font-size: 25px;
  font-weight: 700;
}
.imgInputContainer {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.imgInputContainer > div {
  width: 100%;
  border: 1px solid white;
}
.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnWrapper > div {
  width: 80%;
}
