.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 14rem;
  width: 100%;
  min-height: 1.5rem;
  padding: 10px;
  flex: 1 1 0;
}

.me {
  background-color: rgb(20, 122, 255);
  border-radius: 15px 15px 5px 15px;
}
.you {
  background-color: rgb(40, 40, 40);
  border-radius: 15px 15px 15px 5px;
}

.img {
  width: 200px;
  border-radius: 10px;
}

.delete_container {
  display: flex;
  gap: 2px;
  cursor: default;
}
