.container {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  align-items: center;

  text-align: center;

  color: white;

  font-family: 'Nanum Pen Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 8rem;
  margin-bottom: 10rem;
  cursor: default;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.description {
  font-size: 1.3rem;
  opacity: 0.6;
}

.authLinksContainer {
  /* width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  width: 100%;

  display: flex;
  justify-content: center;

  font-size: 1.5rem;
}

.authLink {
  display: flex;
  align-items: center;

  color: white;
  text-decoration: none;
  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

.authLink:hover {
  color: #ffc1b7; /* 글씨 색상 변경 (예: 토마토 색상) */
  /* transform: translateY(-2px); */
}

@media (max-width: 768px) {
  .authLinksContainer {
    flex-direction: column;
    align-items: center;
  }

  .authLink {
    width: 100%;
    justify-content: center;
  }
}
