.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: black;
}

.profile_box {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;

  gap: 3rem;
}

.btn_box {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
