.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  border: 1px solid blue;
  flex: 1;
}

.image_container {
  border: 1px solid red;
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
