.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  /*삭제 예정*/
  color: white;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title h2 {
  font-size: 20px;
  font-weight: 700;
}
.title h3 {
  font-size: 16px;
}
.consentList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.btnWrapper {
  width: 80%;
}
